{% extends "base.html" %}
{% block content %}
<form method="post" action="{% url 'application:edit_note' id=form.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <input type="hidden" name="category_id" value="{{ form.category }}">
    <label for="name">Note name: </label>
    <input type="text" id="name" name="name" value="{{ form.name }}"><br><br>
    <textarea rows="4" cols="50" name="text" placeholder="Enter note here...">{{ form.text }}</textarea><br><br>
    {% if form.image %}
        <img src="/media/{{ form.image }}" alt="Note image">
    {% endif %}
    <br><br>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}
