{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ category.name }}</h1><br>
<form action="{% url 'application:create_note' category=category.id %}">
    <input type="submit" value="Create note" />
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Note name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    {% for note in notes %}
    <tbody>
    <tr class="table-success">
        <th scope="row">{{ note.name }}</th>
        <td>{{ note.date_created }}</td>
        <td>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
    {% if orders.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-end">
        {% for page_number in orders.paginator.page_range %}
        {% if orders.number == page_number %}
        <li class="page-item active">
            <a class="page-link">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'show_categories' page=page_number %}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</nav>

{% endblock %}