{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'application:create_category' %}">
    <input type="submit" value="Create category" />
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    {% for category in categories %}
    <tbody>
    <tr class="table-success">
        <th scope="row">{{ category.name }}</th>
        <td>{{ category.date_created }}</td>
        <td>
            <a href="{% url 'application:delete_category' id=category.id %}">
                <img src="{% static 'img/delete48.png' %}" alt="Delete" style="cursor: pointer;">
            </a>
            <a href="{% url 'application:edit_category' id=category.id %}">
                <img src="{% static 'img/edit48.png' %}" alt="Edit" style="cursor: pointer;">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
    {% if orders.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-end">
        {% for page_number in orders.paginator.page_range %}
        {% if orders.number == page_number %}
        <li class="page-item active">
            <a class="page-link">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'show_categories' page=page_number %}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</nav>

{% endblock %}