{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ category.name }}</h1><br>
<form action="{% url 'application:create_note' category=category.id %}">
    <input type="submit" value="Create note" />
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Note name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    {% for note in notes %}
    <tbody>
    <tr class="table-success">
        <th scope="row"><a href="{% url 'application:edit_note' id=note.id %}">{{ note.name }}</a></th>
        <td>{{ note.date_created }}</td>
        <td>
            <a href="{% url 'application:delete_note' id=note.id %}">
                <img src="{% static 'img/delete48.png' %}" alt="Delete" style="cursor: pointer;">
            </a>
            <a href="{% url 'application:edit_note' id=note.id %}">
                <img src="{% static 'img/edit48.png' %}" alt="Edit" style="cursor: pointer;">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}